<audio id="audioPlayer" preload="auto">
	 <source src="<%= data.autotune.audio_file_url %>" type="audio/mpeg"/>
</audio>
<div id="topper">
	<h2><%= data.autotune.title %></h2>
	<button id="nextbtn" class='btn btn-primary startState'><span id='timelabel'></span></button>
</div>
<% unless data.autotune.deck.nil? %>
	<h4><%= data.autotune.deck %></h4>
<% end %>
<svg></svg>